<h1>Tweets</h1> <%= link_to "recarregar", root_path %>

<ul class="tweets">
	<% @mentioned_tweets.each do |tweet| %>
	<div class="row">
		<aside class="col-md-6 col-md-offset-3">
			<section class="tweet_info">
				<p>
					<%= link_to "@#{tweet['user']['screen_name']}",
							"https://twitter.com/intent/user?user_id=#{tweet['user']['id']}" %> -
					<small><%= link_to DateTime.parse(tweet['created_at']).strftime("%-d de %b"),
						"https://twitter.com/statuses/#{tweet['id']}" %>
					(seguidores <%= tweet['user']['followers_count'] %>, retweet <%= tweet['retweet_count'] %>, curtiram <%= tweet['favorite_count'] %>)</small>
				</p>
				<h1><%= tweet['text'] %></h1>
			</section>
		</aside>
	</div>
	<% end %>
</ul>
